<p> All the values are passed here! Make a Form</p>
<p> To edit: Views/post/individulPost</p>


postDate{{postDetail.postDate}}
Image{{postDetail.image}}
sizeOfApartment{{postDetail.sizeOfApartment}}
PetAllowed{{postDetail.petsAllowed}}



<a href=""><p>Click to Message User {{postDetail.user}}</p> </a>