<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Roomie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/private"
          >Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/private/profile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/message">Message</a>
        </li>



        {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/selectpost">Make Post</a>
        </li> --}}

      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Make Post</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/private/postRoom">Find Room</a>
        <a class="dropdown-item" href="/private/postRoomate"> Find Roomate</a>
      </li>


      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Find</a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" href="/private/findPost/searchbyCity"> Find By city</a>
        <a class="dropdown-item" href="/private/findPost/searchbyschoolName">Find By University</a>
      </li>


  <li class="nav-item">
          <a class="nav-link" href="/private/aboutUs">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/aboutUs">Contact Us</a>
        </li>


       {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/findPost">Find</a>
        </li> --}}

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<form action="/private/postRoomate" id="post-form" method="POST">
  <div class="postform">

    <div class="postform--group">
      <h1 ="postform--group">Find a Roommate</h1>
      <label>Date of Posting</label>
      <input name="postDate" type="date" placeholder="postDate" required />
    <br/>
      <label>Title</label>
      <input name="title" type="text" placeholder="Enter Title" required />
    <br/>
      <label>Street</label>
      <input name="street" type="text" placeholder="Enter Street" required />
    <br/>
      <label for="city">City</label>
      <select id="city" name="city" required>
        <option value="Austin">Austin</option>
        <option value="Boston">Boston</option>
        <option value="Chicago">Chicago</option>
        <option value="Denver">Denver</option>
        <option value="Hoboken">Hoboken</option>

        <option value="Jersey City">Jersey City</option>
        <option value="New York">New York</option>

        <option value="Phoenix">Phoenix</option>
        <option value="San Francisco">San Francisco</option>
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>

      </select>
    <br/>
      <label for="state">State</label>
      <select id="state" name="state" required>
        <option value="Arizona">Arizona</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Illinois">Illinois</option>
        <option value="Texas">Texas</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New York">New York</option>
        <option value="Washington">Washington</option>
      </select>
    <br/>
      <label>Rooms Available</label>
      <input name="roomNumber" type="number" placeholder="1" required />
    <br/>
      <label>Room Area</label>
      <input name="roomarea" type="number" placeholder="100 Sq. Ft." required />
    <br/>
      <label>Pets Allowed</label>
      <input name="petsAllowed" type="checkbox" />
    <br/>
      <label>Parking Available</label>
      <input name="parkingAvailable" type="checkbox" />
    <br/>
      <label>Sharing Allowed</label>
      <input name="sharingAllowed" type="checkbox" />
    <br/>
      <label>Rent</label>
      <input name="rent" type="number" placeholder="100$" required />
    <br/>
      <label>Number of Roommates</label>
      <input
        name="peoplelivingcurrently"
        type="number"
        placeholder="1"
        required
      />
    <br/>
      <label>Other Description</label>
      <input
        name="otherdescription"
        type="text"
        placeholder="Additional Information"
      />
      <br/>
      <p class="userImage">Upload a picture of the room if you
          want</p>
        <div class="input-group mb-3" id="image_upload_option">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile02"
            id="picture"
            name="picture"
            accept=".jpg,.gif,.png,.jpeg"
          />

        </div>
    <br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {{#if message}}
      <h2>{{message}}</h2>
    {{/if}}

    {{!-- <ul class="post_list">
      {{#each allpost}}
        <li>UserId: {{this._id}}</li>
        <li>postedBy: {{this.user}}</li>
        <li>postDate: {{this.postDate}}</li>
        <li>title: {{this.title}}</li>
        <li>street: {{this.street}}</li>
        <li>city: {{this.city}}</li>
        <li>state: {{this.state}}</li>
        <li>roomNumber: {{this.roomNumber}}</li>
        <li>roomarea: {{this.roomarea}}</li>
        <li>petsAllowed: {{this.petsAllowed}}</li>
        <li>parkingAvailable: {{this.parkingAvailable}}</li>
        <li>sharingAllowed: {{this.sharingAllowed}}</li>
        <li>rent: {{this.rent}}</li>
        <li>peoplelivingcurrently: {{this.peoplelivingcurrently}}</li>
        <li>otherdescription: {{this.otherdescription}}</li>
        <br />
        <br />
        <br />
      {{/each}}
    </ul> --}}

    {{#if errors}}
      <h2>{{errors}}</h2>
    {{/if}}

  </div>
</form>

{{! <div>
  <p> All Existing Post will Be Rendered Here</p>
</div> }}