<h1> Find A Room</h1>
<form action="/private/postRoom" id="post-form" method="POST">
  <div class="postform">
    <div class="postform--group">
    <label>postDate</label>
    <input name="postDate" type="date" placeholder="postDate" />
    </div>

    <div class="postform--group">
    <label>title</label>
    <input name="title" type="text" placeholder="title" />
    </div>

   <div class="postform--group">

    <label for="city">City</label>
    <select id="city" name="city" required>
      <option value="Austin">Austin</option>
      <option value="Boston">Boston</option>
      <option value="Chicago">Chicago</option>
      <option value="Denver">Denver</option>
      <option value="Hoboken">Hoboken</option>

      <option value="Jersey City">Jersey City</option>
      <option value="New York">New York</option>

      <option value="Phoenix">Phoenix</option>
      <option value="San Francisco">San Francisco</option>
      <option value="San Jose">San Jose</option>
      <option value="Seattle">Seattle</option>
    </select>

    </div>

    <div class="postform--group"></div>
    
    <label for="state">State</label>
    <select id="state" name="state" required>
      <option value="Arizona">Arizona</option>
      <option value="California">California</option>
      <option value="Colorado">Colorado</option>
      <option value="Illinois">Illinois</option>
      <option value="Texas">Texas</option>
      <option value="Massachusetts">Massachusetts</option>
      <option value="New Jersey">New Jersey</option>
      <option value="New York">New York</option>
      <option value="Washington">Washington</option>
    </select>
    
    </div>

    <div class="postform--group"></div>

    
    <label for="schoolName">School Name</label>
    <select id="schoolName" name="schoolName" required>
      <option value="Stevens Institute of Technology">Stevens Institute of
        Technology</option>
      <option value="New York University">New York University</option>
      <option value="University of Texas at Austin">University of Texas at
        Austin</option>
      <option value="University of Denver">University of Denver</option>

      <option value="Arizona State University">Arizona State University</option>
      <option value="University of San Francisco">University of San Francisco</option>
      <option value="San Jose State University">San Jose State University</option>
      <option value="University of Washington">University of Washington</option>
    </select>

    </div>

    <div class="postform--group">
    <label>Need Parking</label>
    <input name="parkingAvailable" type="checkbox"/>
    </div>

    
    <div class="postform--group">
    <label>pets</label>
    <input name="pets" type="checkbox" />
    </div>

    <div class="postform--group">
    <label>Open To Share</label>
    <input name="sharingAllowed" type="checkbox" />
    </div>

     <div class="postform--group">
    <label>Budget$</label>
    <input name="budget" type="text" />
    </div>

    <div class="postform--group">
    <label>Are you student</label>
    <input name="student" type="checkbox" />
    </div>

 
    <div class="postform--group">
    <label>Other Description</label>
    <input name="otherdescription" type="text" placeholder="otherdescription" />
    </div>

    <div class="postform--group">  
    <label>Submit</label>
    <button type="submit" id="btn">submit</button>
    </div>

    {{#if message}}
        <h2>{{message}}</h2>
      {{/if}}

{{!-- 
  <ul class="post_list">
    {{#each allpost}}
    <li>PostedBy: {{this.user}}</li>
    <li>postDate: {{this.postDate}}</li>
    <li>title: {{this.title}}</li>
    <li>prefState: {{this.prefState}}</li>
    <li>roomNumber: {{this.roomNumber}}</li>
    <li>budget: {{this.budget}}</li>
    <li>schoolName: {{this.schoolName}}</li>
    <li>otherdescription: {{this.otherdescription}}</li>
    <li>parkingAvailable: {{this.parkingAvailable}}</li>
    <li>sharingAllowed: {{this.sharingAllowed}}</li>
    <li>student: {{this.student}}</li>
    <li>pets: {{this.pets}}</li>
    <br />
    <br />
    <br />
    {{/each}}
  </ul> --}}

    {{#if errors}}
      <h2>{{errors}}</h2>
    {{/if}}

   
  </div>
</form>


<div>
    <p> All Existing Post will Be Rendered Here</p>
</div>