<h1> Find A Room</h1>
<form action="/private/postRoom" id="post-form" method="POST">
  <div class="postform">
    <div class="postform--group">
    <label>postDate</label>
    <input name="postDate" type="date" placeholder="postDate" />
    </div>

    <div class="postform--group">
    <label>title</label>
    <input name="title" type="text" placeholder="title" />
    </div>

   <div class="postform--group">
      <label>city</label>
      <select id="city" name="city" required>
        <option value="austin">Austin</option>
        <option value="boston">Boston</option>
        <option value="chicago">Chicago</option>
        <option value="denver">Denver</option>
        <option value="hoboken">Hoboken</option>

        <option value="jersey_city">Jersey City</option>
        <option value="new_york">New York</option>

        <option value="phoenix">Phoenix</option>
        <option value="san_francisco">San Francisco</option>
        <option value="san_jose">San Jose</option>
        <option value="seattle">Seattle</option>
      </select>
    </div>

    <div class="postform--group"></div>
    <label>State</label>
    <select id="state" name="state" required>
        <option value="arizona">Arizona</option>
        <option value="california">California</option>
        <option value="colorado">Colorado</option>
        <option value="illinois">Illinois</option>
        <option value="texas">Texas</option>
        <option value="massachusetts">Massachusetts</option>
        <option value="new_jersey">New Jersey</option>
        <option value="new_york">New York</option>
        <option value="washington">Washington</option>
      </select>
    </div>

    <div class="postform--group"></div>
    <label for="schoolName">School Name:</label>
    <select id="schoolName" name="schoolName" required>
      <option value="Stevens Institute of Technology">Stevens Institute of
        Technology</option>
      <option value="New York University">New York University</option>
      <option value="University of Texas at Austin">University of Texas at
        Austin</option>
      <option value="University of Denver">University of Denver</option>

      <option value="Arizona State University">Arizona State University</option>
      <option value="University of San Francisco">University of San Francisco</option>
      <option value="San Jose State University">San Jose State University</option>
      <option value="University of Washington">University of Washington</option>
      <option value="Not a Student">Not a Student</option>
    </select>
    </div>

    <div class="postform--group">
    <label>Need Parking</label>
    <input name="parkingAvailable" type="checkbox"/>
    </div>

    
    <div class="postform--group">
    <label>pets</label>
    <input name="pets" type="checkbox" />
    </div>

    <div class="postform--group">
    <label>Open To Share</label>
    <input name="sharingAllowed" type="checkbox" />
    </div>

     <div class="postform--group">
    <label>Budget$</label>
    <input name="budget" type="text" />
    </div>

    <div class="postform--group">
    <label>Are you student</label>
    <input name="student" type="checkbox" />
    </div>

 
    <div class="postform--group">
    <label>Other Description</label>
    <input name="otherdescription" type="text" placeholder="otherdescription" />
    </div>

    <div class="postform--group">  
    <label>Submit</label>
    <button type="submit" id="btn">submit</button>
    </div>

    {{#if message}}
        <h2>{{message}}</h2>
      {{/if}}

{{!-- 
  <ul class="post_list">
    {{#each allpost}}
    <li>PostedBy: {{this.user}}</li>
    <li>postDate: {{this.postDate}}</li>
    <li>title: {{this.title}}</li>
    <li>prefState: {{this.prefState}}</li>
    <li>roomNumber: {{this.roomNumber}}</li>
    <li>budget: {{this.budget}}</li>
    <li>schoolName: {{this.schoolName}}</li>
    <li>otherdescription: {{this.otherdescription}}</li>
    <li>parkingAvailable: {{this.parkingAvailable}}</li>
    <li>sharingAllowed: {{this.sharingAllowed}}</li>
    <li>student: {{this.student}}</li>
    <li>pets: {{this.pets}}</li>
    <br />
    <br />
    <br />
    {{/each}}
  </ul> --}}

    {{#if errors}}
      <h2>{{errors}}</h2>
    {{/if}}

   
  </div>
</form>


<div>
    <p> All Existing Post will Be Rendered Here</p>
</div>