<h1>Search Mypost</h1>
<form action="searchbymyPost" id="myPost_search" method="POST">

  <label for="btn">Submit:</label>
  <button type="submit" id="btn">Submit</button>

</form>

{{#if errors}}
  <h2>{{errors}}</h2>
{{/if}}

<ul class="post_list">
  {{#each allpost}}
    {{!-- {{#if this.field === "room"}} --}}
    {{#ifEqual this.field "room"}}
  

    <div class="grid-item"><p>Posted By :{{this.user}}</p></div>
     <br />
      <p>Title: {{this.title}} </p>
      <p>Post Date:{{this.postDate}}</p>
      <p>City: {{this.city}} </p>
      <p>State:{{this.state}}</p>
      <p>School Name: {{this.schoolName}}</p>
      <p>Parking Available:{{this.parkingAvailable}}</p>
      <p>Pets Allowed: {{this.petsAllowed}} </p>
      <p>Sharing allowed: {{this.sharingAllowed}}</p>
      <p>Budget: {{this.budget}}</p>
      <p>Is a student?: {{this.student}}</p>
      <p>Other description: {{this.otherdescription}}</p>
      <br />
      <a href="http://localhost:3000/private/post/{{this._id}}">Click here to view this whole post!</a>
    
     {{else}}
      <p>Title: {{this.title}} </p>
      <p>Post Date:{{this.postDate}}</p>
      <p>Street: {{this.street}}</p>
      <p>City: {{this.city}} </p>
      <p>State:{{this.state}}</p>
      <p>Number of Rooms:{{roomNumber}}</p>
      <p>Room Area: {{roomarea}}</p>
      <p>Parking Available:{{this.parkingAvailable}}</p>
      <p>Pets Allowed: {{this.petsAllowed}} </p>
      <p>Sharing allowed: {{this.sharingAllowed}}</p>
      <p>Rent: {{this.rent}}</p>
      <p>People Living Currently: {{this.peoplelivingcurrently}}</p>
      <p>Other Description: {{this.otherdescription}}</p>
     {{/ifEqual}}
  {{/each}}
  </div>
</ul>