<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Roomie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/private"
          >Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/private/profile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/profile/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/private/message">Message</a>
        </li>



        {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/selectpost">Make Post</a>
        </li> --}}

      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Make Post</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/private/postRoom">Find Room</a>
        <a class="dropdown-item" href="/private/postRoomate"> Find Roomate</a>
      </li>


      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Find</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/private/findPost/searchbymyPost">My Post</a>
        <a class="dropdown-item" href="/private/findPost/searchbyCity"> Find By city</a>
        <a class="dropdown-item" href="/private/findPost/searchbyschoolName">Find By University</a>
      </li>





       {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/findPost">Find</a>
        </li> --}}

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<h1>UserName:{{{username}}}</h1>
<a id="Home" href="/logout">Logout</a>
<a href="/private/profile">Profile</a>
<a href="/private/profile/edit">Edit Profile</a>


{{!-- Display All Post --}}

<h4> All posts are already rendered on handlebars Here. Only showed few fileds for now.
 To edit: views/userProfile/private.handlebars (scroll to end)
</h4>
{{#each allPost}}
  <p>Posted By :{{this.user}}</p>
  <a href="http://localhost:3000/private/post/{{this._id}}">Click here to view this whole post!</a>
  <br />
  <p>titile: {{this.title}} </p>
  <p>image: {{this.image}} </p>
  <p>sizeOfApartment: {{this.sizeOfApartment}} </p>
  <p>petsAllowed: {{this.petsAllowed}} </p>
  <p>coupleAllowed: {{this.coupleAllowed}} </p>
<hr />
{{/each}}