<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Roomie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/private"
          >Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/profile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/message">Message</a>
        </li>



        {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/selectpost">Make Post</a>
        </li> --}}

      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Make Post</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/private/postRoom">Find Room</a>
        <a class="dropdown-item" href="/private/postRoomate"> Find Roomate</a>
      </li>


      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Find</a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" href="/private/findPost/searchbyCity"> Find By City</a>
        <a class="dropdown-item" href="/private/findPost/searchbyschoolName">Find By University</a>
      </li>


  <li class="nav-item">
          <a class="nav-link" href="/private/aboutUs">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private/contactUs">Contact Us</a>
        </li>


       {{!-- <li class="nav-item">
          <a class="nav-link" href="/private/findPost">Find</a>
        </li> --}}

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>




{{#if errors}}
  <h2>{{errors}}</h2>
{{/if}}


  
 <div class="grid-container">
  {{#each allpost}}
    {{!-- {{#if this.field === "room"}} --}}
    {{#ifEqual this.field "room"}}
  
 
    <div class="grid-item">
    <ul>
    <div class=""><p>Posted By :{{this.user}}</p></div>
    
     <div class="cssroom-div">
      <label>{{this.title}} </label>
      <label>Post Date:{{this.postDate}}</label>
      <label>City: {{this.city}} </label>
      <label>State:{{this.state}}</label>
      <label>School Name: {{this.schoolName}}</label>
      <label>Parking Available:{{this.parkingAvailable}}</label>
      <label>Pets Allowed: {{this.petsAllowed}} </label>
      <label>Sharing allowed: {{this.sharingAllowed}}</label>
      <label>Budget:$ {{this.budget}}</label>
      <label>Is a student?: {{this.student}}</label>
      <label>Other description: {{this.otherdescription}}</label>
      <br />
      <a href="http://localhost:3000/private/post/{{this._id}}">Click here to view this whole post!</a>
     </div>
    </ul>
    </div>
  
     {{else}}
      <div class="grid-item">
      <ul>
      <div class=""><p>Posted By :{{this.user}}</p></div>
     <div class="cssroom-div">
      <label>{{this.title}} </label>
      <div class="images">
        <div class="photo">
          {{#each postImages}}
            <img src={{this}} alt="place" />
          {{/each}}
        </div>
      </div>
      <label>Post Date:{{this.postDate}}</label>
      <label>Street: {{this.street}}</label>
      <label>City: {{this.city}} </label>
      <label>State:{{this.state}}</label>
      <label>Number of Rooms:{{roomNumber}}</label>
      <label>Room Area: {{roomarea}} sqft</label>
      <label>Parking Available:{{this.parkingAvailable}}</label>
      <label>Pets Allowed: {{this.petsAllowed}} </label>
      <label>Sharing allowed: {{this.sharingAllowed}}</label>
      <label>Rent:$ {{this.rent}}</label>
      <p>People Living Currently: {{this.peoplelivingcurrently}}</p>
      <label>Other Description: {{this.otherdescription}}</label>
      <br/>
       <a href="http://localhost:3000/private/post/{{this._id}}">Click here to view this whole post!</a>
     </div>
      </ul>
      </div>
     {{/ifEqual}}

  {{/each}}
</div>


